.life-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.life-section img {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.life-desc img {
  width: fit-content;
  height: 50px;
  object-fit: contain;
}

.life-desc {
  width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  justify-content: center;
}

.life-desc h5 {
  font-size: 18px;
}

.life-desc h2 {
  margin-left: -5px;
  font-size: 70px;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  width: 80%;
}

.life-desc p {
  font-size: 17px;
  line-height: 1.6;
  width: 65%;
  text-align: left;
}