.life-section {
  color: white;
  width: 100vw;
  padding: 100px 0;
}

.life-desc {
  padding: 10rem;
  text-align: left;
}

.life-desc h2 {
  font-size: 3rem;
}

.life-logo {
  height: 80px;
}


.life-img {
  width: 50%;
  height: 702px;
  object-fit: cover;
}