.benefits-section {
  border-bottom: 1px solid white;
}

.benefits {
  width: 60%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  color: white;
}

.think,
.build,
.eye {
  width: 40%;
}

.eye {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0 2rem;
}

.benefits h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.benefits p {
  margin-bottom: 0.2rem;
}

.hr {
  border-bottom: 1px solid white;
}