.transf-container h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.transf-container h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.transf-container h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}