.pasco-section {
  width: 100%;
  height: 700px;
  padding: 100px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.pasco-section img {
  width: 50%;
  height: 702px;
  object-fit: cover;
}

.pasco-desc img {
  width: fit-content;
  height: 60px;
  object-fit: contain;
}

.pasco-desc {
  width: 40%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.pasco-desc h5 {
  font-size: 24px;
}

.pasco-desc h2 {
  margin-left: -5px;
  font-size: 86px;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  width: 80%;
}

.pasco-desc p {
  font-size: 22px;
  line-height: 1.6;
  width: 65%;
  text-align: left;
}