.about-section {
  margin-top: 400px;
  margin-bottom: 50px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  color: white;
  margin-bottom: 250px;
}

.about-title {
  font-size: 18px;
  font-weight: bold;
}

.about-desc {
  width: 53%;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 300;
}

.logos-flex img {
  object-fit: cover;
}

/* LOGOS */

.logo-pepsico,
.logo-delta,
.logo-gofoundme {
  height: 2rem;
}

.logo-chipotle,
.logo-uni {
  height: 4rem;
}