.transf-container h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.transf-container h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.transf-container h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.hr {
  margin: 4rem 0;
  border-bottom: none;
}

.bridal-container,
.pasco-container,
.logos-container,
.notes-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-bottom: 4rem;
}


.bridal-container img,
.pasco-container img,
.logos-container img {
  width: 50%;
}

.bridal-container h2,
.pasco-container h2,
.logos-container h2,
.notes-container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.bridal-container p,
.pasco-container p,
.logos-container p,
.notes-container p {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}

.logos-container p {
  border: none;
}

.logos-container input {
  display: flex;
  resize: none;
  background-color: #000;
  border: 1px solid #f2f2f2;
  font-family: "SuisseIntl", sans-serif;
  border-radius: 2px;
  padding: 12px;
  font-size: 18px;
  line-height: 1.56;
  color: #f2f2f2;
  width: 100%;
}

.notes-container {
  display: flex;
  align-items: flex-start;
}

.notes-container p:first-of-type {
  border-top: 1px solid white;
  padding-top: 2rem;
}

.arrow-right {
  cursor: pointer;
  float: right;
}