.nav-container {
  position: sticky;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(2px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 30px;
}

.nav-container ul {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.nav-container ul li {
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.3s ease-in-out;
}

.nav-container ul li:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}

.MuiSwitch-track {
  background-color: white !important;
}