.nav-container {
  position: sticky;
  top: 0px;
  z-index: 10;
  backdrop-filter: blur(2px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 30px;
}

ul {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

ul li {
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.3s ease-in-out;
}

ul li:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}

/* bus reikalingas */
.selected-page {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}

.MuiSwitch-track {
  background-color: white !important;
}

.services-container {
  text-align: left;
  color: white;
  display: flex;
  gap: 3rem;
}

.services-container * div {
  width: 40%;
}

.services-container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.services-container p {
  font-size: 0.9rem;
}

.dropdown-content-closed {
  display: none;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.192);
  height: 0px;
  width: 100%;
  animation-name: drop;
  animation-duration: 3s;
  z-index: -1;
}

.dropdown-content-opened {
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.616);
  height: 390px;
  width: 100%;
  animation-name: drop;
  animation-duration: 0.8s;
}

@keyframes drop {
  from {
    height: 0px;
  }

  to {
    height: 390px;
  }
}